PIHOLE_API=http://10.0.0.2/api
PIHOLE_TOKEN=yadayadayada
# For multiple Pi-hole targets (comma-separated):
# PIHOLE_API=http://10.0.0.2/api,http://10.0.0.3/api
# PIHOLE_TOKEN=token1,token2
# all foo.local domains will stay as foo.local
DOMAIN_SUFFIX=local
INTERVAL=300
AVAHI_DISABLE_AUTOSTART=0